p{
    margin: 50px auto;
}

.buy-now{
    padding: 10px 50px;
    margin: 10px;
    background-color: $brand-main-color;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid $brand-main-color;
    cursor: pointer;
}